button[type="submit"]
{
	margin-top:20px;
}

h1
{
	text-align:center;
	display:block;
	margin-bottom:0;
	padding-bottom:0;
}

h2
{
	padding-top:0;
	margin-top:0 !important;
}

.btn-primary
{
	margin:auto;
}

.btn-container
{
	display:block;
	width:100%;
	text-align:center;
	margin-bottom:20px;
}

p
{
	display:block;
	margin-top:10px !important;
}

table.overlay-choice td
{
	padding-right:10px;
	text-align:center;
}

.head
{
    text-align:center;
    margin:auto;
}

.head img
{
    margin: 20px 0;
}

@media (max-width: 699px) {
	.examples-table
	{
		width: 100%;
	}

	.examples-table td
	{
		padding-right: 3px;
		padding-left: 3px;
	}
}

@media (min-width: 700px) {
	.examples-table
	{
		width: 80%;
	}

	.examples-table td
	{
		padding-right: 10px;
		padding-left: 10px;
	}
}

.examples-table
{
	margin: 15px auto;
}

.examples-table td
{
	width: 50%;
}

.examples-table td img
{
	width:100%;
}